.about-page-container{
        max-width: 1920px;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        // border: 1px solid red;
        padding: 0rem 0rem 0rem 14rem;
        justify-content: space-between;

        .about-page-section {
                display: flex;
                height: 100%;
                width: 100%;
                cursor: default;
                position: relative;
                // border: 1px solid yellow;
                justify-content: space-between;

                .about-page-left {
                        display: flex;
                        flex-direction: column;
                        max-width: 51%;
                        width: 100%;
                        height: 100%;
                        padding-left: 9rem;
                        line-height: 1.8rem;
                        margin-bottom: 3rem;
                        // border: 1px solid white;

                        .about-page-left-text {
                                display: flex;
                                flex-direction: column;
                                max-width: 80%;
                                margin-top: 10rem;
                                // border: 1px solid yellow;

                                .ptag-about {
                                        display: flex;
                                        width: 100px;
                                        margin-left: -2rem;
                                        font-family: 'La Belle Aurore', cursive;
                                        color: #ffd700;
                                        font-size: 1.8rem;
                                        // border: 1px solid red;
                                }
                        
                                p {
                                        position: relative;
                                        margin-bottom: 1.5rem;
                                        line-height: 2.25rem;
                        
                                        a {
                                                text-decoration: none;
                                                color: #08fdd8;
                                        }
                                }
                        
                                h2 {
                                        font-family: 'Coolvetica';
                                        color: #08fdd8;
                                        font-weight: 400;
                                        margin-top: 0;
                                        position: relative;
                                        margin-bottom: 40px;
                                        font-size: 7.3rem;
                                        line-height: 6.7rem;
                        
                                }
                        
                                .text-animates {
                                        display: inline-block;
                                        opacity: 0;
                                        animation: bounceIn;
                                        animation-duration: 1s;
                                        animation-delay: 1s;
                                        animation-fill-mode: forwards;
                                        min-width: 10px;
                                }
                        
                                .text-animates-hover {
                                        min-width: 12px;
                                        display: inline-block;
                                        animation-fill-mode: both;
                        
                                        &:hover {
                                                animation: rubberBand 1s;
                                                color: #08fdd8;
                                        }
                                }
                        
                                .text-my {
                                        animation: rubberBand 1s;
                                        // color: #ffd700;
                                }
                        
                                @for $l from 1 through 15 {
                                        .text-animates._#{$l} {
                                                animation-delay: #{$l / 10}s;
                                                // animation-delay: calc($i / 10)s;
                                        }
                                }
                        
                                .h2tag-about {
                                        display: flex;
                                        width: 100px;
                                        margin-left: -2rem;
                                        font-family: 'La Belle Aurore', cursive;
                                        color: #ffd700;
                                        font-size: 1.8rem;
                                        // border: 1px solid red;
                                }
                        
                                .h2tag-about-bottom {
                                        display: flex;
                                        width: 100px;
                                        margin-top: -3rem;
                                        margin-left: -2rem;
                                        font-family: 'La Belle Aurore', cursive;
                                        color: #ffd700;
                                        font-size: 1.8rem;
                                        // border: 1px solid red;
                                }

                                a {
                                        color: #08fdd8;
                                        text-decoration: none;

                                        &:hover {
                                                opacity: 0.5;
                                                transition: 0.3s ease-in;
                                        }
                                }
                        }
                }

                .about-page-right {
                        display: flex;
                        max-width: 48%;
                        width: 50%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        // border: 1px solid white;
                        position: relative;

                        .cubespinner {
                                animation-name: spincube;
                                animation-timing-function: ease-in-out;
                                animation-iteration-count: infinite;
                                animation-duration: 10s;
                                transform-style: preserve-3d;
                                transform-origin: 100px 100px 0;
                                // margin-left: calc(50% - 100px);
                                position: absolute;
                                top: 25%;
                                left: 35%;
                
                
                                div {
                                        position: absolute;
                                        width: 30rem;
                                        height: 30rem;
                                        border: 1px solid #08fdd8;
                                        // background: rgba(255, 255, 255, 1);
                                        background-color: black;
                                        text-align: center;
                                        font-size: 15rem;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        // box-shadow: 0 0 20px 0px lightyellow;
                                        // border: 1px solid green;
                                        // font-size: 4rem;
                                }
                
                                .face1 {
                                        transform: translateZ(15rem);
                                        color: #dd0031;
                                }
                
                                .face2 {
                                        transform: rotateY(90deg) translateZ(15rem);
                                        color: #f06529;
                                }
                
                                .face3 {
                                        transform: rotateY(90deg) rotateX(90deg) translateZ(15rem);
                                        color: #28a4d9;
                                }
                
                                .face4 {
                                        transform: rotateY(180deg) rotateZ(90deg) translateZ(15rem);
                                        color: #5ed4f4;
                                }
                
                                .face5 {
                                        transform: rotateY(-90deg) rotateZ(90deg) translateZ(15rem);
                                        color: #efd81d;
                                }
                
                                .face6 {
                                        transform: rotateX(-90deg) translateZ(15rem);
                                        color: #ec4d28;
                                }
                        }
                }
        }

        .tags {
                display: flex;
                flex-direction: column;
                font-style: italic;
                font-size: 1.8rem;
                font-family: 'La Belle Aurore', cursive;
                z-index: 3;
                color: #ffd700;
                margin-left: 4rem;
        }

        .top-tags {
                display: flex;
                margin-top: 2rem;

                .top-body {
                        margin-left: 2rem;
                }
        }

        .bottom-tags {
                display: flex;
                margin-top: auto;
                margin-bottom: 2rem;

                .bottom-html {
                        margin-left: -2rem;
                }
        }
}

@media screen and (max-width: 1000px) {
        .about-page-section {
                flex-direction: column;
                .about-page-right {
                        max-width: 100% !important;
                        width: 100% !important;
                        min-height: 40rem;

                        .cubespinner {
                                margin: -10rem auto;
                        }
                }
        }
        .about-page-container {
                padding: 0rem 0rem 0rem 0rem;
        }
        .about-page-left {
                max-width: 100% !important;
                flex-wrap: wrap !important;
        }
}