*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}
body {
  background: #1d1d1d;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  max-width: 1920px;
  overflow: hidden;
  overflow-y: scroll;
  // border: 1px solid red;
}

@media screen and (max-width: 1000px){
  html {
    font-size: 60% !important;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 55% !important;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 45% !important;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 40% !important;
  }
}
